* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #2c2c2c;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

main {
  background-color: #fafafa;
  border: 0.8px solid #e3e3e3;
  padding: 3rem;
  width: 400px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  box-shadow: 8px 8px 16px 0 rgba(212, 212, 212, 0.25);
}

input {
  padding: 12px 18px;
  border: 0.8px solid #797979;
  border-radius: 4px;
}

input::selection {
  border: 1px solid #2c3fa2;
}

.input-div {
  display: flex;
  gap: 8px;
}

button {
  background-color: #ffdd44;
  padding: 12px 26px;
  cursor: pointer;
  border: 0.8px solid #f6c900;
  color: #222222;
  border-radius: 4px;
}

button:hover {
  background-color: #ffe987;
}

.wishes-display {
  margin-top: 5rem;
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishes-display > p {
  color: #797979;
  font-size: 1.2rem;
}

.fa-file {
  color: #797979;
  margin-bottom: 0.5rem;
}
